# Analise de dados (Olist)
## olist_geolocation_dataset.csv

In [1]:
# importando libs
import os
import pandas as pd

## Definindo caminhos do projeto

In [2]:
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath('.')))
DATA_DIR = os.path.join(BASE_DIR, 'data')
OLTP_DIR = os.path.join(DATA_DIR, 'oltp')
RAW_DIR = os.path.join(OLTP_DIR, 'raw')

## Conhecendo os dados

In [3]:
geolocation = pd.read_csv(os.path.join(RAW_DIR, 'olist_geolocation_dataset.csv'))
geolocation.shape

(1000163, 5)

In [4]:
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [5]:
geolocation.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS