# Analise de dados (Olist)
## olist_sellers_dataset.csv

In [1]:
# importando libs
import os
import pandas as pd

## Definindo caminhos do projeto

In [2]:
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath('.')))
DATA_DIR = os.path.join(BASE_DIR, 'data')
OLTP_DIR = os.path.join(DATA_DIR, 'oltp')
RAW_DIR = os.path.join(OLTP_DIR, 'raw')

## Conhecendo os dados

In [3]:
sellers = pd.read_csv(os.path.join(RAW_DIR, 'olist_sellers_dataset.csv'))
sellers.shape

(3095, 4)

In [4]:
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [5]:
sellers.tail()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP